[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
gevent = "*"
pyjwt = "*"
prometheus-flask-exporter = "*"
flask-limiter = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"

[scripts]
test = "pytest test/"
e2e = "pytest test/test_e2e.py -v"

[requires]
python_version = "3.12"
